.preloader {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
    justify-content: center;
    padding: 20px;
    align-items: center;
    &__wrap {
        padding-right: 0;
        position: relative;
        max-width: 200px;
        width: 100%;
        margin: auto;
        min-height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        .preloader_propeller {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 200px;
            min-width: 100%;
            min-height: 200px;
            fill: #fff;
            transform-origin: center;
            animation: preloaderPropeller 3s infinite linear;
        }
    }
}
@keyframes preloaderPropeller {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
